.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
}

.footer__title {
  margin: auto;
  font-size: 116px;
  font-weight: var(--font-weight-heading);
  color: var(--footer-color);
}

@media (width >= 500px) {
  .footer__title {
    font-size: 120px;
  }
}

@media (width >= 800px) {
  .footer__title {
    font-size: 157px;
  }
}
