:root.theme-light {
  --site-background-image: url('../images/cover-image-light.png');
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --site-bg-color: rgba(255, 241, 247, 1);
  --color-title: rgba(53, 52, 48, 1);
  --color-title-bold: rgba(53, 52, 48, 1);
  --footer-color: rgba(255, 194, 230, 1);
  --color-btn-hover: rgba(50, 49, 45, 0.4);
  --color-link: rgba(53, 52, 48, 1);
}

.theme-light .header__rec-label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --site-background-image: url('../images/cover-image-light.png');
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --site-bg-color: rgba(255, 241, 247, 1);
    --color-title: rgba(53, 52, 48, 1);
    --color-title-bold: rgba(53, 52, 48, 1);
    --footer-color: rgba(255, 194, 230, 1);
    --color-btn-hover: rgba(50, 49, 45, 0.4);
    --color-link: rgba(53, 52, 48, 1);
  }
  .header__rec-label {
    display: none;
  }
}
