.main-section {
  margin-bottom: 50px;
}

.main-section_row {
  margin-top: 50px;
}

.main-section__list {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.card {
  max-width: 355px;
  margin: 0 auto;
}

.card__subtitle {
  margin-top: 10px;
  line-height: 23.4px;
  letter-spacing: 1.2px;
  max-width: 350px;
}

.card__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}
.content-section {
  padding: 0 10px;
}

@media (width >= 500px) {
  .main-section {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .main-section_row {
    flex-direction: column;
  }

  .main-section__title {
    margin-top: 20px;
    text-align: left;
    max-width: 230px;
  }

  .content-section {
    padding: 0 20px;
  }

  .card {
    max-width: 472px;
  }

  .card__subtitle {
    max-width: 472px;
    letter-spacing: 1.2px;
  }

  .main-section_row .card {
    max-width: 100%;
  }

  .main-section-third {
    padding-top: 10px;
  }

  .main-section_row .card__subtitle {
    max-width: 100%;
  }

  .main-section_row .main-section__title {
    margin-top: 30px;
  }

  .main-section_row .main-section__list {
    margin-top: -5px;
  }
}

@media (width >= 800px) {
  .card {
    max-width: 648px;
  }

  .card__subtitle {
    max-width: 648px;
    letter-spacing: 1.2px;
  }

  .main-section__title {
    margin-top: 20px;
    text-align: left;
    max-width: 303px;
  }

  .main-section {
    gap: 32px;
  }

  .main-section_row .main-section__list {
    flex-direction: row;
    justify-content: center;
    margin-top: -13px;
  }

  .main-section_row .main-section__list-item {
    max-width: 315px;
  }

  .main-section_row .main-section {
    gap: 20px;
  }
}
@media (width >= 1100px) {
  .main-section {
    justify-content: space-between;
  }

  .main-section_row .main-section__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
